{% extends 'base.html.twig' %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <div class="align-center">
        <div class="col-6">
            {% for message in app.flashes('exito') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
            <a class="nav-link" href="{{ path('registrarJugador') }}" >Registar nuevo jugador</a>
            <h3> Lista de jugadores </h3>
            <table class="table text-center">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Cantidad de dinero</th>
                    </tr>
                </thead>
                <tbody>
                {% for jugador in jugadores %}
                    <tr>
                        <td>{{ jugador.nombre }}</td>
                        <td>{{ jugador.email }}</td>
                        <td>{{ jugador.cantidad_dinero }}</td>
                        <td>
                            <a class="nav-link" href="{{ path('modificarJugador', {'id': jugador.id}) }}" #}>Modificar</a>
                            <a class="nav-link" href="{{ path('eliminarJugador', {'id': jugador.id}) }}" >Eliminar</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">No se han encontrado registros</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <br>
            <a class="nav-link" href="{{ path('mesa') }}" >ir a Jugar</a>
        </div>
    </div>
</div>
{% endblock %}